* {
  font-family: 'RobotoMono', inter;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  aling-itens: center;
  text-aling: center;

  color: #000000;
}

h1 {
  display: flex;
  justify-content: center;
  aling-itens: center;
  text-aling: center;
}
